<app-nav></app-nav>

<router-outlet>
  <!-- <div *ngFor="let item of results">
    <h2>{{item.material}} - {{item.size}}</h2>
  </div> -->

  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col"><h4>{{title}}</h4></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col my-3">Deze applicatie dient als voorbeeld van een AngularJS Frontend applicatie in samenwerking met een Spring Boot (REST) backend.</div>
    </div>
    <div class="row">
      <div class="col my-3">Chinees?</div>
    </div>
    <div class="row">
      <div class="col">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Material</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of results">
              <td>{{item.id}}</td>
              <td>{{item.material}}</td>
              <td>{{item.size}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</router-outlet>

<app-footer></app-footer>